<?php
/** @var \Mastering\ElogicTelegramBot\Block\Telegram\Config\Button $block */
/** @var \Mastering\ElogicTelegramBot\Api\Data\DataConfigInterface $helper */

$helper = $block->getHelper();
?>

<?php if ($helper->isActive()): ?>
    <button type="button" name="do" title="<?= $block->escapeHtmlAttr(__('Open telegram bot')) ?>"
            class="action redirect">
        <a href="../redirect"
           target="_blank"
           style="text-decoration: none">
            <span><?= $block->escapeHtml(__('Open telegram bot')) ?></span>
        </a>
    </button>
<?php endif; ?>