<?php
/** @var \Mastering\ElogicTelegramBot\Block\Telegram\Config\UserInfo $block */
/** @var \Mastering\ElogicTelegramBot\Api\Data\DataConfigInterface $helper */

$helper = $block->getHelper();
?>

<?php if ($helper->isActive()): ?>
    <?php if ($helper->isDebugMode()): ?>
        <?php $telegramId = $block->getUser()->getTelegramId(); ?>
        <?php if ($telegramId): ?>
            <p>You have [<?php echo $telegramId ?>] account id</p>
        <?php else: ?>
            <p>You don't login in telegram</p>
        <?php endif;?>
    <?php endif; ?>
<?php endif; ?>