<?php
/** @var \Mastering\ElogicTelegramBot\Block\Telegram\Config\UserLogin $block */
/** @var \Mastering\ElogicTelegramBot\Api\Data\DataConfigInterface $helper */
$helper = $block->getHelper()
?>
<?php if ($helper->isActive()): ?>
    <script async src="https://telegram.org/js/telegram-widget.js?21"
            data-telegram-login="<?php echo $helper->getBotName() ?>"
            data-size="<?php echo $helper->getButtonStyle() ?>"
            data-userpic="<?php echo $helper->isShowPhoto() ?>"
            data-radius="20"
            data-auth-url="<?php echo $block->getUrl('customer/bot/login') ?>"
            data-request-access="write">
    </script>
    <hr>
<?php endif; ?>